@media (min-width: 1200px) {
    img.tab{display: none;}
    img.pc{display: block;}
    img.m{display: none;}

    @font-face {
        font-family: 'MaruBuri';
        src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.eot);
        src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.woff2) format("woff2"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.ttf) format("truetype");
    }
    
    @font-face {
        font-family: 'MaruBuriSemiBold';
        src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.eot);
        src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff2) format("woff2"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.ttf) format("truetype");
    }
    
    @font-face {
        font-family: 'MaruBuriBold';
        src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Bold.eot);
        src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Bold.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Bold.woff2) format("woff2"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Bold.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Bold.ttf) format("truetype");
    }
    
    @font-face {
        font-family: 'MaruBuriLight';
        src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Light.eot);
        src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Light.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Light.woff2) format("woff2"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Light.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Light.ttf) format("truetype");
    }
    
    @font-face {
        font-family: 'MaruBuriExtraLight';
        src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.eot);
        src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.woff2) format("woff2"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.ttf) format("truetype");
    } 

    @font-face {
        font-family: 'Pretendard-Regular';
        src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
        font-weight: 400;
        font-style: normal;
    }
    #wrapper{
        padding: unset;
    }
    header{
        position: relative;
        padding: 0 30px;
    }

    

    header .wrap{
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        padding:unset;
        border-bottom: unset;
        gap: 56px;
    }
    header .wrap h1{}
    header .wrap h1 a{}
    header .wrap h1 a img{
        padding-top: 50px;
    }
    header .wrap .btn-open{
        display: none;
    }
    header .wrap nav{
        width: 100%;
        height: 100%;
        background-color:unset;
        z-index: unset;
        position: relative;
        top: unset;
        left: unset;
        right: unset;
        box-shadow: unset;
        overflow: unset;
        display: flex;
        align-items: center;
        border-bottom: unset;
        margin-left: auto;
        border-bottom: 1px solid #d4d4d4;
        justify-content: flex-end;
        align-items: center;
        text-align: center;

    }
    header nav::after{
        content: '';
        display: block;
        width: 100%;
        /* height: 560px; */
        height: 0;
        background-color:#fff;
        box-shadow: 0 5px 10px -5px #969696;
        transition: height 0.2s;
        position: absolute;    
        border-bottom-left-radius: 16px;   
        border-bottom-right-radius: 16px; 
        top: 100%;
        left: 0;
    }

    header nav.on::after{
        height: 376px;
    }
    header .wrap nav .nav-top{
        display: none;
    }
    header .wrap nav .nav-top .logo{
    }
    header .wrap nav .nav-top .logo img{
        width:50px;
    }
    header .wrap nav .nav-top .btn-cls{
    }
    header .wrap nav .nav-top .btn-cls span{
        font-size: 36px;
        color: #fff;
    }
    header .wrap nav .gnb{
        display: flex;
        gap: 80px;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        height: 100%;
    }
    header .wrap nav .gnb li{
        position: relative;
    }
    header .wrap nav .gnb > li{
        height: 100%;
        
    }
     header .wrap nav .gnb:hover .sub-navi{
        display: flex;
     }
    header .wrap nav .gnb>li>a{
        position: relative;
        display: block;
        font-family:"Pretendard-Regular";
        font-weight: bolder;
        font-size: 19px;
        text-wrap: nowrap;
        width:unset;
        border-bottom:unset;
        padding: 0;
        margin: 0 auto;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header .wrap nav .gnb li a span{
        text-align: center;
    }
    header .wrap nav .gnb>li>a span:first-child{
        opacity: 0;

    }
    header .wrap nav .gnb>li>a:hover span:first-child{
        opacity: 0 ;
        font-weight: bold;
    }
    header .wrap nav .gnb>li>a:hover span:last-child{
        opacity: 1;
        color: #c30e2e;
    }
    header .wrap nav .gnb li .sub-navi{
        display: none;
        margin-top:unset;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        text-wrap: nowrap;
        height: 376px;
    }
    header .wrap nav .gnb li .sub-navi:hover{z-index: 1;}
    header .wrap nav .gnb li .sub-navi ul li{
        text-align: center;
        padding: 15px;
    }
    header .wrap nav .gnb li .sub-navi ul li a{
        padding: 15px;
        border-radius: 50px;
        font-family: "Pretendard-Regular";
        font-size: 18px;    
        font-weight: bolder;
    
    }
    header .wrap nav .gnb li:nth-child(6) .sub-navi{
        width: 200px;
        align-items: center;
        justify-content: center;
    }
    header .wrap nav .gnb li .sub-navi ul li a:hover{
        background-color: unset;
        color:unset;
    }
    header .wrap nav .fran{
        background-color: #c30e2e;
        padding: 10px 20px;
        border-radius: 50px;
        color: #fff;
        font-family: "Pretendard-Regular";
        font-size:17px;
        margin: 20px 0; 
        margin-left:35px;
    }

    /* banner */
    .banner{
        border-bottom: 1px solid #c30e2e;
    }
    .banner .wrap{
        display: flex;
        flex-direction: column; 
        justify-content:space-between;
        padding: 78px 0;
    }
    .banner .wrap .top{
        display: flex;
        flex-direction: unset;
        justify-content: space-between;
        align-items: center; 
        height: 100%;
        margin-bottom: unset;
        margin-bottom: 50px;
        margin-top: 165px;
    }
    .banner .wrap .top .txt{
        order: 2;
        font-family: 'Maruburi';
        font-weight: 700;
        font-size: 26px;
        line-height: 50px;
        text-align: unset;
        text-wrap: nowrap;
        margin-right: 150px;
    }
    .banner .wrap .top .logo{
        order: 1;
        margin-left: 0;
        margin-right: unset;
        margin-bottom: 10px;
        margin-left: 150px;
    }
    .banner .wrap .top .logo img{
        width: 200px;
    }
    .banner .wrap .bottom{}
    .banner .wrap .bottom .teaimg{
    }
    .banner .wrap .bottom .teaimg img{
        width: 85%;
        height: auto;
    }


    /* section1 */
    .section1{
        padding: 30px 0;
        background-color: #F3F2E8;
    }
    .section1 .title{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
    .section1 .title h1{
        font-family: 'Maruburi';
        font-size: 32px;
        color: #c30e2e;
        font-weight: 300;
    }
    .swiper {
        width: 100%;
        height: 100%;
      }
    
    /* 탭 스타일 */
    .tab-container{
        overflow:hidden;
        height:100%;
    }
    .tab-content{
        height:100%;
        position:relative;
    }
    .tabs {
        display: flex;
        overflow: unset;
        margin-left: unset;
        justify-content: center;
        align-items: center;
    }
    .tab {
        display: flex;
        cursor: pointer;
        padding: 10px 20pxc;
        margin-bottom: 20px;    
        background-color: unset;
        user-select: none;
        text-wrap: nowrap;
        font-family: 'Pretendard-Regular';
        font-size: 18px;
    }
    .tab.active {
        background-color: unset;
        color: #c30e2e;
        box-shadow:unset;
    }
    
    /* 슬라이드 스타일 */
    .tab-content-slider {
        display: none;
        height: 100%;
        margin-bottom: 50px;
    }
    
    .tab-content-slider.first{
        display: block;
    }
    
    /* 슬라이드 내용 스타일 */
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin:30px 0;
        filter: grayscale();
    }
    .swiper-slide-active{
        filter: grayscale(0);
        .name{
            color: #c30e2e;
            font-weight: 600;
        }
        .circle{
            filter: invert(14%) sepia(64%) saturate(5114%) hue-rotate(341deg) brightness(92%) contrast(97%);
        }
    }
    .swiper-slide a{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .swiper-slide a .circle{
        position:absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        width:unset;
        height: unset;
        width: 400px;
    }
    .swiper-slide a .circle img{
    }
    .swiper-slide a .drinkImg{
        margin-bottom: 10px;
        z-index: 1;
        display: block;
    }
    .swiper-slide a .drinkImg img{
        width: 450px;
        height:auto;
    }
    .swiper-slide a .txt{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        position: absolute;
        left: 70%;
        top: 45%;
    }
    .swiper-slide a .name{
        font-family: 'Maruburi';
        font-size: 20px;
        margin-bottom: 15px;
        z-index: 2;
    }
    .swiper-slide a .exp{
        font-family: 'Pretendard-Regular';
        font-size: 14px;
        text-align: left;
        z-index: 3;
        width: 100%;
        margin: unset;
        margin-left: 50px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;
    }
    .section1 .btn-more{
        display: none;
        background-color: #c30e2e;
        padding: 10px 20px;
        border-radius: 50px;
        margin: 30px auto 0 auto;
    }
    .section1 .btn-more a{
        font-family: 'Maruburi';
        font-size: 16px;
        color: #fff;
        font-weight: 100;
    }

    .section1 .swiper-button-next{
        position: absolute;
        left: 65%;
        top:70%;
    }
    .section1 .swiper-button-next::after{
        font-size: 25px;
        color: #000;
        font-weight: bold;
    }
    .section1 .swiper-button-prev{
        position: absolute;
        left: 34%;
        top: 70%;
    }
    .section1 .swiper-button-prev::after{
        font-size: 25px;
        color: #000;
        font-weight: bold;
    }
    .section1 .swiper-slide a:hover .btn-click{
        display: block;
    }
    .section1 .btn-click{
        position: absolute;
        left: 40%;
        top: 70%;
        display: block;
        background-color: #c30e2e;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        z-index: 5;
    }
    .section1 .btn-click a{
        color: #fff;
        font-family:  'Pretendard-Regular';
        font-size: 18px;
    }    

    /* section2 */
    .section2{
        padding: 50px 20px;
    }
    .section2 .wrap{
        position: relative;
        display: flex;
        justify-content: center;
    }
    .section2 .wrap .txt{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:baseline;
        margin-right: 80px;
    }
    .section2 .wrap .txt h1{
        font-family: 'Maruburi';
        font-weight: 300;
        color: #c30e2e;
        text-align: start;
        margin-bottom: 30px;
        font-size: 45px;
    }
    .section2 .wrap .txt h2{
        font-family: 'Maruburi';
        font-size: 18px;
        font-weight: 100;
        margin-bottom: 30px;
    }
    .section2 .wrap .txt .btn-discover{
        position:unset;
        z-index: unset;
    }
    .section2 .wrap .txt .btn-discover a{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section2 .wrap .txt .btn-discover a span{
        border-radius: 50%;
        border: 2px dashed #c30e2e;
        padding: 10px;
        margin-right: 10px;
        color: #000;
        font-size: 25px;
    }
    .section2 .wrap .txt .btn-discover a p{
        color: #c30e2e;
        font-size: 14px;
    }
    .section2 .wrap .thumb{
    }
    .section2 .wrap .thumb .storeImg{}
    .section2 .wrap .thumb .storeImg img{
    }
    
    /* section3 */
    .section3{
        
        background-image: url(../images/franchise.jpg);
        width: 100%;
        height: auto;
        background-size: cover;
    }
    .section3 .swiper{
    }
    .section3 .swiper .swiper-wrapper{}
    .section3 .swiper .swiper-wrapper .swiper-slide{
        display: flex;
        flex-direction: column;
    }
    .section3 .swiper .swiper-wrapper .swiper-slide .icon{}
    .section3 .swiper .swiper-wrapper .swiper-slide .icon span{}
    .section3 .swiper .swiper-wrapper .swiper-slide .dot{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #000;
    }
    .section3 .swiper .swiper-wrapper .swiper-slide .p{}
}